[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	name = deepika07coder
	email = 146858130+deepika07coder@users.noreply.github.com
